# Full URL to the Proxmox API endpoint
proxmox_api_url         = "https://your-proxmox:8006/api2/json"

# Username used to authenticate with Proxmox (Read 'Notes and Limitations' in the Readme)
proxmox_user            = "root@pam"

# Password for the specified Proxmox user (Read 'Notes and Limitations' in the Readme)
proxmox_password        = "your-strong-password-here"

#Proxmox API token ID (e.g., 'terraform@pve!mytoken')
proxmox_api_token_id    = ""

#Secret associated with the above API token ID
proxmox_api_token_secret= ""


# Root password for the LXC container (make sure to change this)
lxc_password = "your-strong-password-here"

# Public SSH key(s) to be added to the container
ssh_public_keys = "ssh-rsa AAAAB3...your-public-key..."

# The name of the target Proxmox node
target_node = "your-proxmox-node-name"

# Proxmox storage for the template
storage_template = "local"

# Proxmox storage for the container's disk
storage_disk = "local-lvm"

# Ubuntu version to be used for the container
ubuntu_ver = "ubuntu-20.04-standard_20.04-1_amd64.tar.gz"

